@media screen and (min-width: 481px) {
    .display-advice {
        font-family:'Times New Roman', Times, serif;
        font-size: 30px;
        margin: 0 auto;
        text-align: center;
        background-color: #66CDAA;
        height: auto;
        width: 800px;
        margin-bottom: 20px;
        padding: 28px;                                        
    }

    .favorite-button {
       height: 50px;
       margin: 10px auto;
    }
}

@media screen and (max-width: 480px) {
    .button-box {
        transform: scale(0.7);
    }

    .display-advice {
        font-family:'Times New Roman', Times, serif;
        font-size: 20px;
        margin: 0 auto;
        text-align: center;
        background-color: #66CDAA;
        height: auto;
        width: 350px;
        margin-bottom: 20px;
        padding: 28px;                                        
    }

    .favorite-button {
        height: 40px;
        margin: 0 auto;
     }
}