@media screen and (min-width: 481px) {
  .App {
    text-align: center;
    height: 1000px;
    width: auto;
    background-repeat: no-repeat;
    background-image: url(./img/light.jpg);
    background-position: 50% 40%;
    background-size: cover;
  }

  .App-logo {
    height: 18%;
    margin-left: 10px;
  }

  .input-holder {
    color: gold;
  }
  .input-name {
    background-color:darkgray;
    margin-left: 50px;
    padding: auto 500px;
  }
   
}

@media screen and (max-width: 480px) {
  .App {
    text-align: center;
    height: 1000px;
    background-image: url(./img/light.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  .App-logo {
    height: 13%;
    margin-left: 10px;
  }
}

