@media screen and (min-width: 481px) {
  .App {
    text-align: center;
    height: 600px;
    width: auto;
    background-repeat: no-repeat;
    background-image: url(./img/light.jpg);
    background-position: 50% 40%;
    background-size: cover;
  }

  .App-logo {
    height: 28%;
    margin-left: 10px;
  }

  .input-form {
    display: flex;
    height: 50px;
    padding-left: 600px;
    padding-right: 600px;
    margin-top: 10px;
  }

  .input-name {
    background-color:darkgray;
    padding: 10px 50px;
    margin-right: 80px;
    border-radius: 3px;
  }

  .signin {
   margin-left: 10px;
   margin-right: 10px;
  }
   
}

@media screen and (max-width: 480px) {
  .App {
    text-align: center;
    height: 500px;
    background-image: url(./img/light.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  .App-logo {
    height: 25%;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .input-form {
    display: flex;
    height: 30px;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  
  .input-name {
    background-color:darkgray;
    padding: 10px 7px;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 3px;
  }

  .signin {
   margin-left: 10px;
   margin-right: 10px;
  }
   
}

