@media screen and (min-width: 481px) {
    .favTable {
        text-align: center;
        height: auto;
        width: auto;
        background-image: url(./img/books.jpg);
        background-position: 50% 40%;
        background-size: cover;
    }

    .listTable {
        background-color: aliceblue;
        margin: auto 50px;
        border-radius: 20px;
    }

}

@media screen and (max-width: 480px) {
    .favTable {
        text-align: center;
        height: auto;
        width: auto;
        background-image: url(./img/books.jpg);
        background-position: 50% 40%;
        background-size: cover;
    }

    .listTable {
        background-color: aliceblue;
        margin: auto 35px;
        border-radius: 20px;
    }
}